body {
	margin: 0;
}

.cards-bar {
    overflow-x: auto;
    max-width: 1280px;
    max-height: 720px;
    padding: 40px 200px;
}

.cards-item {
    width: 194px;
    height: 281px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    float: left;
    position: relative;
    transition-duration: 0.2s;
    box-shadow: 3px 3px 8px 3px #0000002b;
    border-radius: 20px;
}

.cards-item-wrapper {
    width: 194px;
    height: 281px;
    float: left;
    margin: 14px 0 0 -100px;
}

.cards-item:hover{
    margin-top: -20px;
    transform: rotate(-16deg);
}

.container-wrapper {
	background: url('../Content/UnoImages/Table_0.png');
	background-size: cover;
	height: 100%;
}