body {
	padding-top: 50px;
}

.gameBackground {
	max-width: 1100px;
	max-height: 720px;
	border: 2px solid white;
	border-radius: 10px;
	float: left;
}

.Deck {
    margin: 20px;
    width: 194px;
    height: 281px;
    float: left;
}

.cardStock {
	/*margin-top:0px;
    margin-left: 50px;*/
	clear: both;
	background: url('../Content/UnoImages/Deck.png');
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 3px 3px 8px 3px #0000002b;
	border-radius: 20px;
}

#gameTitle{
	color: white;
}

.cardPlaying-wrapper {
	margin: 40px;
	width: 194px;
	height: 281px;
	float: left;
	margin-left: 275px;
	margin-top: 140px;
}

.cardPlaying {
	width: 194px;
	height: 281px;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	box-shadow: 3px 3px 8px 3px #0000002b;
	border-radius: 22px;
}

#colorName{
	text-align: center;
	color: white;
	font-size: 20px;
}

.game-controller {
	padding: 5px;
	width: 300px;
	float: left;
}

.game-info{
    padding: 10px;
}

.card-info {
    float: left;
    color: white;
    font-size: 25px;
}

.player-info {
	float: right;
	color: white;
	font-size: 25px;
}

.container-wrapper {
	background: url('../Content/UnoImages/Table_0.png');
	background-size: cover;
	height:100%;
}

.btn-uno-controller {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	width: 200px;
	height: 70px;
	float: left;
	display: block;
	margin: 20px;
}

.player-list-wrapper{
	width: 200px;
	height: auto;
	float: right;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	margin: 20px;
}

.player-list-item{
	padding: 5px;
}

.player-list-item-selected {
	background-color: #ff000038;
}
.player-list-item-selected::after{
	content: '\'s turn';
}