body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar{
    background-color: red;
}

.session-content{
    width: 600px;
    margin: auto;
}

.game-box{
    
}

.game-item{
    float: left;
    width: 290px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
}

.player-tag{
    display: inline;
}

.game-controller{
    display: inline-block;
}

.action-btn {
    margin: 0px 5px;
}
.item-clear {
    clear: both;
}

.explain-box{
    border-left: 4px solid black;
    padding-left: 3px;
}

.new-game-fields{
    padding: 5px 1px;
}

.popup-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
}

.popup-content {
    display: none;
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: auto;
    margin-top: 10%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.popup-overlay.active {
    display: block;
}

.popup-content.active {
    display: block;
}