@model JavaScriptUNO.Models.ServerGameSession
@{
    ViewBag.Title = Model.GameName;
	Layout = "~/Views/Shared/_LayoutHost.cshtml";
}

<h2 id="gameTitle">@Model.GameName</h2>

<div class="gameBackground">
    <div class="game-info">
        <p id="numberOfCards" class="card-info">
            Once all players are connected please click start game
        </p>
        <p id="playerInfo" class="player-info">
            Awaiting players...
        </p>
    </div>
    <div class="cardStock Deck"></div>
    <div class="cardPlaying Deck"></div>
</div>

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/UnoScripts/UnoHosts.js"></script>
<script src="~/UnoScripts/Uno.js"></script>
<script src="~/UnoScripts/UnoRuleChecker.js"></script>
<script type="text/javascript" >
    var host = new UnoHosts("@Model.GameId");
    host.hubReady.done(function () {
        console.log("Hub is connected");
        //initiate the game.
        host.initGame(); 
    });

    function startGameOnClick(){
        host.startGame();
        $('#btnStartGame').addClass('disabled');
        $('#btnDealCards').removeClass('disabled');
        $('#btnReset').removeClass('disabled');
    }

    function dealCards() {
        host.dealCardsToPlayers();
        $('#btnDealCards').addClass('disabled');
    }

    function testCard() {
        var tknCard = host.hostHub.UnoGame.takeCardFromStock();
        console.log(tknCard);
    }

</script>