@model JavaScriptUNO.Models.ClientGameSession
@{
    ViewBag.Title = Model.GameName;
	Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2 id="gameTitle">Game: @Model.GameName</h2>
<div class="player-name-box">
	<h2 id="change-name-title">Current Player name:</h2>
	<p id="playerNameField">{loading}</p>
</div>
<div class="game-controller">
	<button id="btnFullScreen" class="btn btn-default" onclick="goFullScreen()">Full Screen</button>
	<button id="btnDrawCard" class="btn btn-default" onclick="drawCardFromDeck()">Draw Card</button>
</div>

<div class="gameBackground">
    <div id="cardsbar" class="cards-bar">

    </div>
</div>

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/UnoScripts/UnoClients.js"></script>
<script type="text/javascript">
    var client = new UnoClients();
    client.hubReady.done(function () {
        console.log("Hub is connected");
        client.connectToHost("@Model.GameId", "@Model.ClientId");

        //get the player name and set it on the screen
        let playerNameString = localStorage.getItem('playername');
        if (playerNameString === null) {
            playerNameString = "@Model.ClientId".substring(0, 8);
        }

		$('#playerNameField').text(playerNameString);
    });

    function goFullScreen() {
        if (document.fullscreenElement) {
		    document.exitFullscreen();
	    } else {
		    document.documentElement.requestFullscreen();
	    }
    }

    function drawCardFromDeck() {
        client.drawCardFromDeck();
	}
</script>