@model JavaScriptUNO.Models.ClientGameSession
@{
    ViewBag.Title = Model.GameName;
	Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>@Model.GameName Client</h2>

<div class="game-controller">
	<button id="btnFullScreen" class="btn btn-default" onclick="goFullScreen()">Full Screen</button>
	<button id="btnFullScreen" class="btn btn-default" onclick="drawCardFromDeck()">DrawCard</button>
</div>

<div class="gameBackground">
    <div class="cards-bar">

    </div>
</div>

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/UnoScripts/UnoClients.js"></script>
<script type="text/javascript">
    var client = new UnoClients();
    client.hubReady.done(function () {
        console.log("Hub is connected");
        client.connectToHost("@Model.GameId", "@Model.ClientId");
    });

    function goFullScreen() {
        if (document.fullscreenElement) {
		    document.exitFullscreen();
	    } else {
		    document.documentElement.requestFullscreen();
	    }
    }

    function drawCardFromDeck() {
        client.drawCardFromDeck();
	}
</script>