@model JavaScriptUNO.Models.ServerGameSession
@{
    ViewBag.Title = Model.GameName;
}

<h2>@Model.GameName Client</h2>

<div class="gameBackground">    

</div>

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/UnoScripts/UnoClients.js"></script>
<script type="text/javascript">
    var client = new UnoClients();
    client.hubReady.done(function () {
        console.log("Hub is connected");
        client.connectToHost("@Model.GameId");
    });
  
</script>