@model JavaScriptUNO.Models.ClientGameSession
@{
	ViewBag.Title = Model.GameName;
	Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2 id="gameTitle">Game: @Model.GameName</h2>
<div class="player-name-box">
	<h2 id="change-name-title">Playing as:</h2>
	<p id="playerNameField">{loading}</p>
</div>
<div class="game-controller">
	<button id="btnFullScreen" class="btn btn-default" onclick="goFullScreen()">Full Screen</button>
	<button id="btnDrawCard" class="btn btn-default" onclick="drawCardFromDeck()">Draw Card</button>
</div>

<div class="gameBackground">
	<div id="cardsbar" class="cards-bar">

	</div>
</div>

<!--This pop-up shows fields for a new session-->
<div class="popup-overlay">
	<!--Creates the popup content-->
	<div class="popup-content">
		<h2>Pick a color</h2>
		<div id="hiddenEffects" style="display: none;"></div>
		<div class="color-button-field">
			<button data-color="red" onclick="pickColor(this)" class="btnColorPick red"></button>
			<button data-color="blue" onclick="pickColor(this)" class="btnColorPick blue"></button>
			<button data-color="yellow" onclick="pickColor(this)" class="btnColorPick yellow"></button>
			<button data-color="green" onclick="pickColor(this)" class="btnColorPick green"></button>
		</div>
		<button onclick="CancelColorPopUp()" class="btn btn-primary action-btn">Cancel</button>
	</div>
</div>

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/UnoScripts/UnoClients.js"></script>
<script type="text/javascript">
    var client = new UnoClients();
    client.hubReady.done(function () {
        console.log("Hub is connected");
        client.connectToHost("@Model.GameId", "@Model.ClientId");

        //get the player name and set it on the screen
        let playerNameString = localStorage.getItem('playername');
        if (playerNameString === null) {
            playerNameString = "@Model.ClientId".substring(0, 8);
        }

		$('#playerNameField').text(playerNameString);
    });

    function goFullScreen() {
        if (document.fullscreenElement) {
		    document.exitFullscreen();
	    } else {
		    document.documentElement.requestFullscreen();
	    }
	}

	function CancelColorPopUp() {
		$(".popup-overlay, .popup-content").removeClass("active");
		client.sendPickedColorToHost(null);
	}

	function pickColor(button) {
		console.log(button);
		client.sendPickedColorToHost(button);
		$(".popup-overlay, .popup-content").removeClass("active");
	}

    function drawCardFromDeck() {
        client.drawCardFromDeck();
	}
</script>