@model JavaScriptUNO.Models.ServerGameSession
@{
    ViewBag.Title = Model.GameName;
}

<h2>@Model.GameName Client</h2>

<div class="game-controller">
    <button id="btnFullScreen" class="btn btn-default" onclick="goFullScreen()">Full Screen</button>
</div>

<div class="gameBackground">
    <div class="cards-bar">

    </div>
</div>

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/UnoScripts/UnoClients.js"></script>
<script type="text/javascript">
    var client = new UnoClients();
    client.hubReady.done(function () {
        console.log("Hub is connected");
        client.connectToHost("@Model.GameId");
    });

    function goFullScreen() {
        if (document.fullscreenElement) {
		    document.exitFullscreen();
	    } else {
		    document.documentElement.requestFullscreen();
	    }
    }
</script>