
@{
	ViewBag.Title = "Home";
}
<div class="session-content">
	<h2>Available games</h2>
	<div class="explain-box">
		<p>
			Please familiarize yourself with @Html.ActionLink("the rules of this version of UNO", "Rules") before starting the game
		</p>
		<p>
			If the game is full, or has already begun, the Join button will be disabled.
		</p>
	</div>
	<div class="create-game-box">
		<button onclick="ShowNewSessionPopUp()" class="btn btn-primary">New Game</button>
	</div>
	<div class="change-name-box">
		<h3 id="change-name-title">Current Player name:</h3>
		<p id="playerNameField">{loading}</p>
		<div class="player-name-field">
			<label for="tbPlayerName">Player Name</label>
			<input id="tbPlayerName" type="text" class="input-sm" placeholder="What should we call you?" />
			<button onclick="StorePlayerName()" class="btn btn-primary action-btn">Save</button>
		</div>	
	</div>
	<div id="sessionContainer" class="game-box">
		@*<div class="game-item">
				<h3 class="game-name">Game #1</h3>
				<div class="game-controller">
					<div class="player-tag">Players: 3/8</div>
					<button class="btn btn-default action-btn">Join</button>
					<button class="btn btn-default action-btn">Spectate</button>
				</div>
			</div>
			<div class="game-item">
				<h3 class="game-name">Game #2</h3>
				<div class="game-controller">
					<div class="player-tag">Players: 7/8</div>
					<button class="btn btn-default action-btn disabled">Join</button>
					<button class="btn btn-default action-btn">Spectate</button>
				</div>
			</div>*@
		<p>No sessions available</p>
	</div>
</div>

<!--This pop-up shows fields for a new session-->
<div class="popup-overlay">
	<!--Creates the popup content-->
	<div class="popup-content">
		<h2>Start a new game</h2>
		<p>Enter the name for your UNO game lobby</p>
		<div class="new-game-fields">
			<label for="tbGameName">Game Name</label>
			<input id="tbGameName" type="text" class="input-sm" placeholder="Think of a name" />
		</div>
		<!--popup's close button-->
		<button onclick="CompleteSessionCreation()" class="btn btn-primary action-btn">Create</button>
		<button onclick="CancelSessionCreation()" class="btn btn-primary action-btn">Cancel</button>
	</div>
</div>

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/UnoScripts/UnoSessions.js"></script>
<script src="~/UnoScripts/GameSessionCard.js"></script>
<script>
	var session = new UnoSessions();
	session.hubReady.done(function () {
		session.callRequestUpdate();

		//get the playername from the localstorage. if there is no name, display "Not Set"
		let playerNameString = localStorage.getItem('playername');

		if (playerNameString === null) {
			playerNameString = "Not Set"
		}

		$('#playerNameField').text(playerNameString);	
	});


	function ShowNewSessionPopUp() {
		$(".popup-overlay, .popup-content").addClass("active");
	}

	function CompleteSessionCreation() {
		let gameNameString = $('#tbGameName').val();
		$('#tbGameName').val("");
		session.createGameSession(gameNameString);
		$(".popup-overlay, .popup-content").removeClass("active");
	}

	function CancelSessionCreation() {
		$(".popup-overlay, .popup-content").removeClass("active");
	}

	function StorePlayerName() {
		//get the players name from the txtbox and store it in localstorage for next time.
		//after storing the name clear the textbox and put the name in the provided name field.
		//no update to server is required at this point.
		let playerNameString = $('#tbPlayerName').val();
		if (playerNameString !== "") {
			$('#tbPlayerName').val("");
			localStorage.setItem('playername', playerNameString.substring(0, 32));
			$('#playerNameField').text(playerNameString.substring(0, 32));
		}
	}
</script>